{% extends 'admintemplates.html' %}
{% load static %}
<head>
    <style type="text/css">
        .content{
            text-align: center;
        }
    </style>
</head>

 {% block content %}
<div class="content">
    <div class="box">
        <h2>Total Orders</h2><br>
        <h3>{{count}}</h3>
    </div>
    <br><br><br>
    <div class="box">
        <h2>Delivered Orders</h2><br>
        <h3>{{delivered_count}}</h3>
    </div>
    <br><br><br>
    <div class="box">
        <h2>Pending Orders</h2><br>
        <h3>{{pending_count}}</h3>
    </div>

    <br><br><br>
    <div class="box">
        <h2>Total No. of Products Listed for Sale</h2><br>
        <h3>{{product_count}}</h3>
    </div>
</div>
 {% endblock %}